.header {
    background-color: $colorMain;

    .header__item {
        @include flex(flex, row, space-between, center, nowrap);
        @include setWrapper (auto, 0 0 .5%, 2% 2%);

        // logo 
        .logo {
            @include flex(flex, row, space-around, center, nowrap);
            @include setWrapper(18%, 0, 0);

            .logo__block {
                @include flex(flex, row, center, center, nowrap);
                background-color: $colorAdditional;
                border-radius: 50%;
                width: 44px;
                height: 44px;
            }

            .logo__cap {
                @include setFont (400, 2.6rem, 1.2);
                letter-spacing: 0.01em;
                color: #000000;
            }
        }

        // nav 
        .nav {
            width: 36%;

            .menu {
                @include flex(flex, row, space-between, center, nowrap);
                @include setFont (400, 1.25rem, 1.2);
                column-gap: 4%;
                letter-spacing: 0.01em;

                .menu__link {
                    color: $colorTitle;
                    padding: 43px 0;

                    &:hover {
                        color: #494949;
                        border-bottom: 4px solid #5094f2;
                    }
                }
            }
        }
    }


}