.title {
    background-image: url(../img/blur.png);
    background-size: cover;

    .title__item {
        @include flex(flex, row, space-around, center, nowrap);

        .title__img {
            @include setWrapper (auto, 3% 0, 0);
        }

        .title__text {
            @include setWrapper (39%, 0, 0);
            color: #ffffff;

            .title__text--primary {
                @include setFont (400, 42px, 44px);
            }

            .title__text--secondary {
                @include setWrapper (61%, 2% 0, 0);
                @include setFont (400, 28px, 44px);
            }

            .title__text--special {
                @include flex (flex, row, center, center, nowrap);
                @include setWrapper (36%, 4% 2%, 0);
                @include setFont (400, 22px, 44px);
                column-gap: 4%;
                background-color: $colorAdditional;

                &:hover {
                    background-color: rgb(25, 115, 249);
                }

                .title__link {
                    color: $colorMain;
                    text-decoration: none;
                }
            }
        }
    }
}

.content {
    @include setWrapper(auto, 5% 0, 0);

    .content-holder {
        @include flex (flex, row, space-around, center, nowrap);

        .content__item {
            @include flex (flex, column, space-around, center, nowrap);

            .content__item--primary,
            .content__item--secondary,
            .content__item--additional {
                @include flex (flex, row, center, center, wrap);
                @include setWrapper (186px, 0, 0);
                height: 186px;
                border-radius: 50%;
            }

            .content__item--primary {
                background-color: $colorAdditional;
            }

            .content__item--secondary {
                background-color: $colorSecondary;
            }

            .content__item--additional {
                background-color: $colorSpecial;
            }

            .content__title {
                @include setWrapper(77%, 6% 0 0, 0);
                @include setFont (400, 24px, 44px);
                text-align: center;
                color: $colorAdditional;
            }

            .content__text {
                @include setWrapper(72%, 0, 0);
                @include setFont (400, 14px, 1.2);
                color: $colorText;
                text-align: center;
            }
        }
    }
}

.basket {
    @include setWrapper(auto, 6% 0 0, 0);

    .basket-holder {
        @include flex (flex, row, center, center, nowrap);

        .basket__item {
            @include setWrapper(50%, 0, 0);
            @include flex (flex, column, center, center, nowrap);

            .basket__title {
                @include setWrapper(auto, 0 0 6%, 0);
                @include setFont(400, 42px, 44px);
                color: $colorTitle;
            }
        }

        .basket__item--additional {
            @include setWrapper(50%, 0, 0);

            .basket__subtitle {
                @include setWrapper(auto, 4% 0 6%, 0);
                @include setFont(400, 26px, 44px);
                color: $colorTitle;
            }

            .basket__text {
                @include setWrapper(78.5%, 0, 0);
                @include setFont(400, 15px, 38px);
                color: $colorText;
            }
        }
    }
}