@mixin flex ($flex, $dir, $js, $ai, $wrap) {
    display: $flex;
    flex-direction: $dir;
    justify-content: $js;
    align-items: $ai;
    flex-wrap: $wrap;
}

@mixin setWrapper ($width, $mar, $pad, ) {
    width: $width;
    margin: $mar;
    padding: $pad;
}

@mixin setFont ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}