/* connecting fonts */

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Myriad Pro' ;
}

a {
  text-decoration: none;
  cursor: pointer;
}

$size: 100px;
$colorMain:#ffffff;
$colorAdditional:#5094f2;
$colorSecondary: #d94748;
$colorSpecial:#ebbb11;

@import 'header';
@import 'mixin';
