/* connecting fonts */

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Myriad Pro';
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
}


@import 'variables';
@import 'mixin';
@import 'header';
@import 'main';
@import 'footer';