/* connecting fonts */
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Myriad Pro";
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
}
.header .header__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  margin: 0 0 0.5%;
  padding: 2% 2%;
}
.header .header__item .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 18%;
  border: 2px solid crimson;
}
.header .header__item .logo .logo__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #5094f2;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 2px solid rgb(23, 20, 220);
}
.header .header__item .logo .logo__cap {
  font-size: 42.4px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000000;
}
.header .header__item .nav {
  width: 36%;
}
.header .header__item .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 4%;
       column-gap: 4%;
  font-size: 20.4px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.header .header__item .nav .menu .menu__link {
  color: #7b7b7b;
  padding: 43px 0;
}
.header .header__item .nav .menu .menu__link:hover {
  color: #5e5e5e;
  border-bottom: 4px solid #5094f2;
}

.title {
  background-image: url(../img/blur.png);
  background-size: cover;
}
.title .title__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.title .title__item .title__text {
  width: 39%;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.title .title__item .title__text .title__text--primary {
  font-weight: 400;
  font-size: 42px;
  line-height: 44px;
}
.title .title__item .title__text .title__text--secondary {
  width: 61%;
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
}
.title .title__item .title__text .title__text--special {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 43%;
  margin: 4% 2%;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  -moz-column-gap: 4%;
       column-gap: 4%;
  background-color: #5094f2;
}
.title .title__item .title__text .title__text--special:hover {
  background-color: rgb(25, 115, 249);
}
.title .title__item .title__text .title__text--special .title__link {
  color: #ffffff;
  text-decoration: none;
}

.content {
  width: auto;
  margin: 5% 0;
  padding: 0;
}
.content .content-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.content .content-holder .content__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.content .content-holder .content__item .content__item--primary,
.content .content-holder .content__item .content__item--secondary,
.content .content-holder .content__item .content__item--additional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 186px;
  margin: 0;
  padding: 0;
  height: 186px;
  border-radius: 50%;
}
.content .content-holder .content__item .content__item--primary {
  background-color: #5094f2;
}
.content .content-holder .content__item .content__item--secondary {
  background-color: #d94748;
}
.content .content-holder .content__item .content__item--additional {
  background-color: #ebbb11;
}
.content .content-holder .content__item .content-title {
  width: 77%;
  margin: 6% 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #5094f2;
}
.content .content-holder .content__item .content-text {
  width: 77%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #909090;
  text-align: center;
}