/* connecting fonts */
@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MyriadPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid black;
}